@font-face {
    font-family: 'acmeregular';
    src: url('Acme-Regular-webfont.eot');
    src: url('Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Acme-Regular-webfont.woff2') format('woff2'),
         url('Acme-Regular-webfont.woff') format('woff'),
         url('Acme-Regular-webfont.ttf') format('truetype'),
         url('Acme-Regular-webfont.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pincoyablackblack';
    src: url('pincoyablack-webfont.eot');
    src: url('pincoyablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('pincoyablack-webfont.woff2') format('woff2'),
         url('pincoyablack-webfont.woff') format('woff'),
         url('pincoyablack-webfont.ttf') format('truetype'),
         url('pincoyablack-webfont.svg#pincoyablackblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
	font-family: acmeregular;
	background-image: url(R2.jpg);
	background-attachment: fixed;
}
.bruce
{	margin: 15px;
	margin-top: 100px;
	margin-left: 30px;
	float: left;
	transition: 1s;
	transform: scale(1);
	height: 120px;
	width:80px;
	box-shadow: 3px 3px 2px black;
	border-radius: 45%;
}
.bruce:hover
{
	transform: scaleY(1.6) scaleX(1.2) perspective(150px) rotateX(30deg);
	border-radius: 1%
}

nav ul
{

	list-style-type: none;
	display: flex;
	position: absolute;
	right: 15px;
	bottom: 0px

}
li
{
    border: outset 1px black;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 1px;
    font-size: 1.9em;
    margin: 10px;
    text-shadow: 2px 2px 8px black;
    text-align: center;
    border-radius: 40px / 30px;
    box-shadow: 0px 10px 12px 0px black;
}


li:hover {
    background-color: white;
    border-radius: inset 3px black;
    box-shadow: 0px 7px 11px 0px #f8f7f7;
    transition: 1s;
}

header h1
{
	font-family: pincoyablackblack;
	margin-left: 10px;
	color: black;
font-size: 4em; 
position: absolute;
top: 0px;
left: 15px;
}
header
{
	border: 8px double black;
	border-radius: 0px 0px 20px 20px;
	height: 250px;
	position: relative;
	background-color: grey;
	box-shadow: 3px 5px 3px black
	 
}

header a
{
	text-decoration-line: none;
	color: black;
	text-decoration:none;
}
a:hover
{

	color: grey;
	text-shadow: 2px 2px 2px black;
	transition: 0.6s;
}
header img
{
	
	height: 100px;
	position: absolute;
	right: 15px;
	top: 10px
}
.banniere
{
	height: 400px;
	background-image: url(mada.jpg);
	position: relative;
	border-radius: 20px 20px 20px 20px;
	margin-top: 15px;
	margin-bottom: 15px
}
.texteban 
{
	color: white;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25px;
	border-radius: 0px 0px 20px 20px;
	padding-top: 25px;
	padding-bottom: 13px;
	background-color: rgba(0, 0, 0, 0.75);
	margin-right: 100px

}
.texteban:hover
{
	opacity: 0.9
}





.retour
{
	position: relative;
	bottom: 25px;
	right: 160px;
	text-align: right;
	font-size: 17px;
}

button:hover
{
	background: radial-gradient( rgb(120,198,227), red);
	opacity: 1;
	border: 1px solid red;
	cursor: pointer;
	transform: scale(1.15);
}
button
{
	position: absolute;
	bottom: 20px;
	right: 30px;
	background: radial-gradient(rgb(120, 198, 227),blue);
	color: white;
	font-weight: bold;
	border: 1px solid blue;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 3px 0px black ;
	transition: transform 1s cubic-bezier(1,-1.3,.46,1.82);

		
}

.btn:hover + .retour
{
transform: scale(1.04) ;

	transition: 0.8s;

}

.btn:active + .retour
{
	transform: scale(0.5);
	transition: 0.1s
}

.blocpage
{
	width: 1300px;
	margin: auto;

}

section
{
	display: flex;

	
}
article
{
	
	text-align: justify;
	margin-right: 5px;
	margin-top: 10px;
	font-size: 20px;
	border: 7px double black;
	border-radius: 0px 20px 20px 0px;
	padding: 10px;
	flex: 3;
	background-color: white;
	box-shadow: 3px 3px 3px black inset
}
article p
{
	margin-left: 165px;
	margin-top: 20px;
	padding-right: 20px;
	
}
aside
{
	margin-left: 5px;
	margin-top: 10px;
	padding: 10px;
	border: 7px double black;
	border-radius: 20px 0px 0px 20px;
	background-color: white;
flex: 1;
box-shadow: 3px 3px 3px black inset
}

article img:hover
{
transform: scale(1.4) ;
}
article h1
{
	text-shadow: 2px 2px 3px grey;
	margin-left: 160px
}
aside h2
{
	text-shadow: 2px 2px 3px grey;	
}

aside a {
	text-decoration: none;
	color: black
}

aside ul {
	list-style-type: none;
}

aside a:hover
{
	color: white
}
aside li{
	background-color: white;
}
aside li:hover
{
	background-color: grey
}
footer
{
	color: white;
	text-align: right;
}
footer a
{
	text-decoration: none;
	color: white
}
.dateheure{
	transition: 1s;
}
.dateheure:hover
{
	transform: scale(1.25);
}