@font-face {
	font-family: 'acmeregular';
	src: url('../Acme-Regular-webfont.eot');
	src: url('../Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../Acme-Regular-webfont.woff2') format('woff2'),
		url('../Acme-Regular-webfont.woff') format('woff'),
		url('../Acme-Regular-webfont.ttf') format('truetype'),
		url('../Acme-Regular-webfont.svg#acmeregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

body {
	font-family: acmeregular;
	background-image: url(../R2.jpg);
	background-attachment: fixed;
}

.blocpage {
	width: 1300px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	border: 8px double black;
	background-color: white;
	border-radius: 0px 0px 20px 20px;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
	box-shadow: 3px 5px 3px black;
}

header img {
	height: 100px;
	position: absolute;
	right: 15px;
	top: 10px
}

.photos {
	border: double 7px black;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0px;
	box-shadow: inset 0px 0px 5px 5px black;
	margin-top: 10px;
	padding: 20px;
	align-items: center;
	justify-items: center;
	width: 95%;
}

section img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 2px black;
	margin: 0px;
	opacity: 0.7;
	transition: 3s;
	transition-timing-function: cubic-bezier(0, .75, .08, 1);

}

section img:hover {
	box-shadow: none;
	opacity: 1;
	border-radius: 2%;
	transform: scale(1.2);
}

a {
	width: 85%;
	height: 75%;
}

footer {
	color: white;
	text-align: right;
}

footer a {
	text-decoration: none;
	color: white
}

footer a:hover {
	color: grey;
}

.retour {
	position: relative;
	right: 560px;
	top: 15px;
	text-decoration: none;
	color: black;
	transition: 0.5s;
}

.retour:hover {
	color: grey;
	transform: scale(1.05);
}

@media (max-width: 600px){

	.photos {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(9, 1fr);
	}
}